html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
}

.blockquote{
  font-style: italic;
  font-size: 32px;
  line-height: 41px;
}

.buttonPrimary:hover, .buttonSecondary {
  background-color: white;
  color: black;
  border: 1px solid black
}

.buttonSecondary {
  background-color: white;
  color: black;
}

.buttonPrimary, .buttonSecondary:hover {
  width: 155px;
  height: 55px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 0;
  border: 1px solid black
}


/* Loading Section Start */

.LoadingContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 30;
}

.Loading {
  position: absolute;
  top: 50vh;
  width: 90%;
  left: 5%;
  right: 5%;
  margin: auto;
}

/* Loading Section End */

/* Dashboard Section Start */

.dashboardNav {
  color: 'white';
}

/* Customize MUI classes */
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
background-color: black;
}