html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

/* Loading Section Start */

.LoadingContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 30;
}

.Loading {
  position: absolute;
  top: 50vh;
  width: 90%;
  left: 5%;
  right: 5%;
  margin: auto;
}

/* Loading Section End */

/* Dashboard Section Start */

.dashboardNav {
  color: 'white';
}

/* Customize MUI classes */
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
background-color: black;
z-index: '9999';
}

.tox.tox-tinymce {
  border:'none';
  border-radius: 0;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-do3tkx-MuiInputBase-root-MuiInput-root {
  width: 100%;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-do3tkx-MuiInputBase-root-MuiInput-root::before {
  border-bottom: 2px solid #dce4e7;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-multiline.css-14nrzf1-MuiInputBase-root-MuiInput-root {
  width: 100%;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-multiline.css-14nrzf1-MuiInputBase-root-MuiInput-root::before {
  border-bottom: 2px solid #dce4e7;
}